<center><h1>Login</h1></center>

<p>
<center>

<% if @errors != nil %>
  <% @errors.each do |e| %>
  <%= e %>
  <% end %>
  <% end %>

<% if @message != nil %>
  <%= @message %>
  <% end %>

<form style="width: 500px" method="post" action="/login/create">
<fieldset>
<br>Enter Your Email Address:
<br><input type="text" name="email" placeholder="Email Address"><br>
<br>Enter Your Password:
<br><input type="text" name="password" placeholder="Password"><br>
<br>
<input type="submit" value="Login"></b>
</fieldset>
</form></center>
</p>