<h1>All Users:</h1>
  <% @users.each do |u| %>
    <ul>
      <li><a href="/user/view/<%= u.id %>"><%= u.name %></a></li>
      <li><a href="/user/update/<%= u.id %>">Update</a></li>
    </ul>
  <% end %>