<center><h1>Add A To Do Item</h1></center>

<p>
<center>

<form style="width: 500px" method="post" action="/todo/create">
<fieldset>
<legend>Task Details:</legend>
<b>Enter the Task Title:
<br><input type="text" name="title" placeholder="Task Title"><br>
<br>Enter a Task Description:
<br><input type="text" name="description" placeholder="Task Description"><br>
<br>Assign this Task:
<select name="user_id">
  <option selected disabled>Select a user...</option>
  <% @users.each do |u| %>
  <option value="<%=u.id%>"><%= u.name %></option>
  <% end %>
</select>
<br>
<br>
<select name="category_id">
  <option selected disabled>Select a category...</option>
  <% @categories.each do |c| %>
  <option value="<%=c.id%>"><%= c.category_name %></option>
  <% end %>
</select>
<br>
<br>
<input type="submit" value="Create To Do"></b>
</fieldset>
</form></center>
</p>
