<center><h1>Add A Category</h1></center>
<!-- 
<%# if @errors != nil %>
  <%# @errors.each do |e| %>
  <%#= e %>
  <% #end %>
  <% #end %> -->

<p>
<center>

<form style="width: 500px" method="post" action="/category/create">
<fieldset>
<legend>Category Details:</legend>
<b>Enter a Category Name:
<br><input type="text" name="category_name" placeholder="Category Name"><br>
<br>Assign tasks to this category:
<br><% @todos.each do |t| %>
    <input type="checkbox" name="todos[]" value="<%= t.id %>"><%= t.title %> <%= t.category_name %>
      <br>
    <% end %>
<input type="submit" value="Create Category"></b>
</fieldset>
</form></center>
</p>