<center><h1>Add A Category</h1></center>

<p>
<center>

<form style="width: 500px" method="post" action="/category/create">
<fieldset>
<legend>Category Details:</legend>
<b>Enter a Category Name:
<br><input type="text" name="category_name" placeholder="Category Name"><br>
<br>Assign tasks to this category:<br>
<br><% @todos.each do |t| %>
    <input type="checkbox" name="todos[]" value="<%= t.id %>"><%= t.title %> 
    <% if t.category_id != nil %>
    <i>Currently assigned to <%= t.category_name %></i>
    <% end %>
      <br>
    <% end %>
    <br>
<input type="submit" value="Create Category"></b>
</fieldset>
</form></center>
</p>