<h1>Categories:</h1>

<% if @categories != [] %>
  <% @categories.each do |c| %>
  - <b><%= c.category_name %></b><a href="/category/update/<%= c.id %>">Update</a>- <br>
    <% if c.get_todo_titles != [] %>
    Todo Items:<br><br>
    <% c.get_todo_titles.each do |t| %>
      <%= t %><br>
        <% end %>
      <% end %>
      <br>
    <% end %>
<% end %>
