<h1>Categories:</h1>

<% if @categories != [] %>
  <% @categories.each do |c| %>
  - <b><%= c.category_name %></b> - <br>
    <% if c.get_todos != [] %>
    Todo Items:<br><br>
    <% c.get_todos.each do |t| %>
      <%= t %><br>
        <% end %>
      <% end %>
      <br>
    <% end %>
<% end %>
