<center><h1>Welcome</h1></center>

<p>
<center>
<a href="/user/add">Add User</a> | 
<a href="/login">Login</a> | 
<a href="/users/view">View Users</a> | 
<a href="/category/add">Add Category</a> | 
<a href="/categories/view">View Categories</a> | 
<a href="/todos/view">View To Do List</a> | 
<a href="/todo/add">Add To Do Item</a>
<% if session["user_id"] != nil %>
  <a href="/logout">Logout</a>
  <% end %>
</center>
</p>